//Font Size
.font-s {
  font-size: $small;
}

.font-m {
  font-size: $medium;
}

.font-l {
  font-size: $large;
}

.font-xl {
  font-size: $x-large;
}

//Font Weight
.font-bold {
  font-weight: bold;
}